/* Set the page */
:root{
    --blue-main: rgb(14, 20, 40);
    --bkgd-color: rgb(255, 255, 252);
    --bkgd-color2: rgb(190, 183, 164);
    --lt-blue: rgb(79, 109, 122);
    --magenta-accent: rgb(150, 61, 90);
}
body {
    background-color: var(--bkgd-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    background-color: var(--lt-blue);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    border-radius: 25px;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover, button a:hover{
    background-color: var(--magenta-accent);
    color: white;
    cursor: pointer;
}
/* Styling for the header */
.navbar {
    background-color: var(--blue-main);
    padding: 10px;
}
.navbar h1 {
    color: var(--lt-blue);
    display: inline;
    padding-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown{
    display: none;
}
.navbar ul {
    float: right;
}
.navbar ul li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--magenta-accent);
    cursor: pointer;
}

/* About Me Section */
.about-section{
    background-color: var(--bkgd-color);
}

.section-text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
}

.about-section h2{
    font-size: 72px;
    margin-bottom: 0%;
    color: var(--blue-main);
    text-align: center;
}

.about-img-container{
    width: 212px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
}

.about-img{
    width: 212px;
    height: 212px;
    object-fit: cover;
    object-position: 50% 35%;
    border-radius: 100%;
}


/* Basic styling for both about-me and work sections */
.master-container{
    margin: 8%;
    margin-top: 4%;
    margin-bottom: 0%;
    border-top: 5px solid var(--magenta-accent);
}
.master-container h2{
    color: var(--blue-main);
    font-size: 75px;
    text-transform: lowercase;
    text-align:center;
    margin: 0%;
    padding: 30px;
}

/* Styling for the Work Card */
.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2%;
}
.row a{
    width: 50%;
}
.work-card{
    position: relative;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.work-card img{
    width: 100%;
    border: 8px solid var(--blue-main);
}
.overlay{
    background-color: var(--lt-blue);
    position: absolute;
    display: none;
    margin-left: 2%;
    width: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
}
.text-box{
    text-align: center;
    font-size: 18px;
    padding-top: 5%;
    color: white;
}
.text-box h3{
    font-size: 24px;
}
.text-box p{
    margin-bottom: 10px;
}
.btn-box{
    display: flex;
    justify-content: center;
}
.card-btn{
    background-color: var(--blue-main);
    margin: 2%;
}

/* Contact Section */
.section-text{
    margin-top: 0%;
    margin-bottom: 0%;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.contact-container a{
    font-size:42px; 
    color: rgb(79, 109, 122);
    text-decoration: none;
    margin: 2%;
}

/* Styling for the Footer */
footer{
    text-align: center;
    background-color: var(--bkgd-color2);
    margin-top: 2%;
}
footer h4{
    color: var(--blue-main);
    font-size: 24px;
    text-transform: lowercase;
    padding: 1%;
    margin:0px;
}