body {
    background-color: rgb(235, 235, 235);
}
/* Styling for the header */
header {
    background-color: teal;
    color: white;
    padding: 10px;
    align-items: flex-end;
}
header h1 {
    display: inline;
    padding-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
header ul {
    float: right;
}
header ul li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}

