/* Set the page */
:root{
    --red-accent: rgb(11, 0, 36);
    --bkgd-color: rgb(255, 255, 255);
}
body {
    background-color: var(--bkgd-color);
}

/* Styling for the header */
header {
    background-color: var(--red-accent);
    color: white;
    padding: 10px;
    align-items: flex-end;
}
header h1 {
    display: inline;
    padding-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
header ul {
    float: right;
}
header ul li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}

header ul li a{
    color: white;
}

/* Hero Image */
.hero-section{
    display: flex;
    border-bottom: 25px solid var(--red-accent);
}
.hero-image{
    height: auto;
    width: 30%;
    background-image: url("./images/Me1.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text{
    width: 70%;
    font-size: 24px;
    padding: 2%;
}

.hero-text h2{
    color: var(--red-accent);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    text-transform: lowercase;
}

/* Basic styling for both about-me and work sections */
.master-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}
.master-container aside{
    width: 30%;
}
aside h2{
    color: var(--red-accent);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    text-transform: lowercase;
    transform: scale(0.5, 1);
    padding: 30px;
    margin: 30px;
}

/* Basic styling for about-me section */
.about-me-container{
    display: flex;
    flex-direction: row;
    background-color: var(--red-accent);
    align-items: center;
    padding: 1%;
}

.profile-picture{
    width: 20%;
    height: auto;
    border-radius: 165%;
}

.about-me-text{
    padding: 15px;
    color: white;
    font-size: 25px; 
}

/* Styling for the Work Card */
.work-card{
    margin: 3px;
    position: relative;
    width: 100%;
}
.work-card img{
    border: 7px solid var(--red-accent);
    width: 95%;
}
.work-card .row{
    width: 50%;
}
.card-title{
    background-color: var(--red-accent);
    color: var(--bkgd-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 36px;
}

/* Styling for the Footer */
footer{
    text-align: center;
    margin-top: 40px;
}
footer h4{
    color: var(--red-accent);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-transform: lowercase;
    margin:0px;
}
.footer-item{
    display: flex;
    margin: auto;
    width: 50%;
}
.footer-item b{
    color: var(--red-accent);
}
.footer-item p{
    margin-left: 50px;
    margin-right: 25px;
    font-size: 20px; 
}

/* Adjust for screen size */
@media screen and (max-width:768px){
    .master-container{
        flex-direction: column;
    }
    aside h2{
        white-space: nowrap;
        padding: 1px;
        margin: 0px;
    }
    .about-me-container{
        flex-direction: column;
    }
    .card-title{
        flex: 1 1 50px; /*need extra help with this*/
    }
    .footer-item{
        flex-direction: column;
    }
    .footer-item p{
        font-size: 14px;
    }
    header ul{
        background-color: var(--red-accent);
        margin: 0px;
    }
}