/* Set the page */
:root{
    --blue-main: rgb(14, 20, 40);
    --bkgd-color: rgb(255, 255, 252);
    --bkgd-color2: rgb(190, 183, 164);
    --lt-blue: rgb(79, 109, 122);
    --magenta-accent: rgb(150, 61, 90);
}
body {
    background-color: var(--bkgd-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styling for the header */
header {
    background-color: var(--blue-main);
    color: var(--lt-blue);
    padding: 10px;
    align-items: flex-end;
}
header h1 {
    display: inline;
    padding-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
header ul {
    float: right;
}
header ul li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}

header ul li a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--magenta-accent);
    cursor: pointer;
}

/* Hero Image */
.hero-section{
    display: flex;
    background-color: var(--bkgd-color);
    margin-top: 5%;
}
.hero-image{
    height: auto;
    width: 30%;
    background-image: url("./images/Me1.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 8%;
}

.hero-text{
    width: 70%;
    font-size: 24px;
    padding: 2%;
    margin-right: 8%;
    background-color: var(--bkgd-color2);
}

.hero-text h2{
    color: var(--blue-main);
    font-size: 75px;
    text-transform: lowercase;
}

/* Basic styling for both about-me and work sections */
.master-container{
    margin: 8%;
    border-top: 5px solid var(--magenta-accent);
}
.work{
    width: 30%;
}
.work h2{
    color: var(--blue-main);
    font-size: 75px;
    text-transform: lowercase;
    padding: 30px;
    margin: -2%;
}

/* Styling for the Work Card */
.row{
    display: flex;
}
.work-card{
    position: relative;
    width: 100%;
}
.work-card img{
    width: 95%;
}
.row-card{
    width: 50%;
}
.card-title{
    background-color: var(--blue-main);
    color: var(--bkgd-color);
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 36px;
}

/* Styling for the Footer */
footer{
    text-align: center;
    margin-top: 40px;
    background-color: var(--bkgd-color2);
}
footer h4{
    color: var(--blue-main);
    font-size: 24px;
    text-transform: lowercase;
    margin:0px;
}
.footer-item{
    display: flex;
    margin: auto;
    width: 50%;
}
.footer-item b{
    color: var(--blue-main);
}
.footer-item p{
    margin-left: 50px;
    margin-right: 25px;
    font-size: 20px; 
}

.footer-item a{
    color: var(--lt-blue);
    text-decoration: none;
}

.footer-item a:hover{
    color: var(--magenta-accent);
}

/* Adjust for screen size */
@media screen and (max-width:768px){
    .master-container{
        flex-direction: column;
    }
    aside h2{
        white-space: nowrap;
        padding: 1px;
        margin: 0px;
    }
    .about-me-container{
        flex-direction: column;
    }
    .card-title{
        flex: 1 1 50px; /*need extra help with this*/
    }
    .footer-item{
        flex-direction: column;
    }
    .footer-item p{
        font-size: 14px;
    }
    header ul{
        background-color: var(--blue-main);
        margin: 0px;
    }
}